%div{ :role => "tabpanel" }
  %ul.nav.nav-tabs{ :role => "tablist" }
    - @calendars.each_with_index do |cal, i|
      %li{:class => ("active" if i == 0), :role => "presentation"}
        %a{"aria-controls" => cal[:id], "data-toggle" => "tab", :href => "##{cal[:id]}", :role => "tab"}= cal[:name]

  .tab-content
    - @calendars.each_with_index do |cal, i|
      .tab-pane{:class => ("active" if i == 0), :role => "tablist", :id => cal[:id] }
        %iframe{:frameborder => "0", :height => "400", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showTz=0&height=400&wkst=1&bgcolor=%23FFFFFF&src=#{cal[:gcal_id]}%40import.calendar.google.com&color=%2323164E&ctz=Asia%2FTokyo", :style => " border-width:0 ", :width => "800"}
        %p
          iCalファイル:
          - url = url_for("/#{cal[:id]}.ics", :full)
          %a{ :href => url }= url

%hr

%footer
  作者:
  %a{ :href => "https://twitter.com/nicklegr" } @nicklegr
  %br
  非公式サイトです。お出かけ前に
  %a{ :href => "http://www.loft-prj.co.jp/" } 公式サイト
  でご確認ください。
